body {
  font-family: Arial, Helvetica, sans-serif;
  background: #222;
  color: #ddd;
}
#page-wrap {
  width: 800px;
  margin: 0 auto;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
a {

}
a:link {
    color: #ddd;
}

/* visited link */
a:visited {
    color: #ddd;
}

/* mouse over link */
a:hover {
    color: #fff;
}

/* selected link */
a:active {
    color: #ddd;
}k'
